html {
    font-family: sans-serif;
}

header {
    background-color: #255ee9;
    height: 350px;
}

/* top bar */
.top-bar-flex {
    display: flex;
    justify-content: space-around;
}

header .top-bar-flex > div {
    background-color: yellow;
    margin-top: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: green;
    margin-top: 70px;
}

header article p {
    background-color: pink;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    margin-block: 15px;
}

.download-buttons {
    background-color: violet;
    display: flex;
    justify-content: center;
    gap: 30px;
}